
/* --- divs --- */

div.col {
    display: inline-block;
    vertical-align: top;
    max-height: 800px;
    margin: 1em;
}

div.cuprins {
    width: 50%;
    overflow-y: scroll;
    font-family: 'Roboto Condensed', sans-serif;
}

div.articol-card-row {
    width: 100%;
    margin: 0.3em;
    box-shadow: 0 4px 8px grey;
    background: rgb(240,240,240);
}

div.articol-card-cell {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

div.articol-card-pagina {
    width: 5%;
    text-align: center;
}
div.articol-card-rubrica {
    width: 10%;
}
div.articol-card-titlu {
    width: 40%;
    font-weight: bold;
}
div.articol-card-autor {
    width: 15%;
}
div.articol-card-pagini-count {
    width: 30%;
    min-width: 50px;
}

div.imagini {
    width: 40%;
}

/* --- text --- */
h1, h2 {
    text-align: center;
}

/* --- imagini --- */

img.minithumb {
    border: 1px solid black;
    max-width: 50px;
    min-width: 20px;
    vertical-align: middle;
}

img.paginafull {
    width: 100%;
    object-fit: contain;
}


/* --- tabele --- */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    min-height: 1em;
}