
/* --- override defaults --- */

* {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

/* --- divs --- */

div.home-link-container {
    background-color: brown;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.home-link {
    text-align: left;
    font-size: 1.5em;
}

div.header-nav-container {
    background-color: lightgray;
    display: flex;
    justify-content:center;
    align-items: stretch;
}

div.header-nav-elem {
    height: 100%;
    margin: auto;
}

div.header-nav-current {
    width: 40%;
    background-color: darkgrey;
}

div.header-nav-prev, div.header-nav-next {
    width: 25%;
}

div.col {
    display: inline-block;
    vertical-align: top;
    max-height: 800px;
    margin: 1em;
}

div.cuprins {
    width: 50%;
    overflow-y: scroll;
}

div.articol-card-row {
    width: 99%;
    min-height: 2.5em;
    margin: 0.3em;
    box-shadow: 0 2px 4px grey;
    background: rgb(240,240,240);
}

div.articol-card-cell {
    display: inline-block;
    vertical-align: middle;
    /*height: 100%;*/
}

div.articol-card-pagina {
    width: 5%;
    text-align: center;
}

div.articol-card-rubrica {
    width: 10%;
}

div.articol-card-titlu {
    width: 40%;
    font-weight: bold;
}

div.articol-card-autor {
    width: 15%;
}

div.articol-card-pagini-count {
    width: 30%;
    min-width: 50px;
}

div.main-img-container {
    width: 40%;
    height: 100%;
}

div.main-img-nav {
    background: grey;
    width: 100%;
}
div.main-img {
    height: 750px;
}

/* --- text --- */
h1, h2 {
    text-align: center;
}

/* --- imagini --- */

img.minithumb {
    border: 1px solid black;
/*    max-width: 50px;
    min-width: 20px;*/
/*  height: 100%;*/
    max-height: 40px;
    min-height: 15px;
    vertical-align: middle;
}

img.fullthumb {
    /*width: 100%;*/
/*    max-height: 100%;*/
/*    object-fit: contain;*/
    height: 100%;
    vertical-align: middle;
}


/* --- tabele --- */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    min-height: 1em;
}