
/* --- override defaults --- */
* {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

/* --- divs --- */

div.home-link-container {
    background-color: brown;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.home-link {
    text-align: left;
    font-size: 1.5em;
}

div.card-container {
    width: 70%;
    margin: 0 auto;
}

div.inline-div {
    display: inline-block;
    width: 15%;
    max-width: 200px;
    margin: 0.5em;
    box-shadow: 0 4px 8px grey;
    text-align: center;
    vertical-align: top;
}

div.inline-div h1,h2 {
    font-size: 1em;
    line-height: 1;
}

img.card-img {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    min-height: 1em;
}