

/* --- override defaults --- */

* {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}

body {
    margin: 0;
    min-height: 100%;
}


/* --- text --- */

h1, h2 {
    text-align: center;
    font-size: 2em;
}

pre {
    background-color: lightgray;
    font-family: monospace;
}


/* --- home navigation --- */

div.home-link-container {
    margin-top: 0;
    margin-bottom: 0;
    height: 3.6em;
    padding: 0.5em;

    /* --- background --- */
    background-color: steelblue;
    background: repeating-linear-gradient(
            -55deg,
            #333555,
            #333555 5px,
            #444 5px,
            #444 10px
    );

    /* --- shadow --- */
    box-shadow: 0 3px 6px darkslategrey;
    position: relative;
    z-index:999;

    /* -- display -- */
    display: flex;
    /* aliniere orizontala items */
    justify-content:center;
    /* aliniere verticala items */
    align-items: center;
}

.home-link {
    margin-right: auto;
    text-align: left;
    width: 30%;
    /*color: white;*/
}

.home-link-logo {
    font-weight: bold;
    font-size: 2em;
    text-align: left;
}

.home-link-tag {
    font-size: 0.9em;
    font-style: italic;
}

.home-link-container a {
    text-decoration-line: none;
    color: wheat;
    text-align: left;
}

.home-nav-search {
    width: 30%;
}

.home-nav-search-box{
    border-radius: 7px;
    width: 100%;
    padding: 0.3em;
}

.home-nav-preset-search {
    width: 30%;
    margin-left: auto;
    text-align: right;
    color: wheat;
}


/* --- reviste cards --- */

div.card-container, div.search-container, div.page-content {
    width: 85%;
    margin: 0 auto;

    /* centreaza cards din interior */
    text-align: center;
}

/* selectat doar h1 si h2 care sunt direct in page-content
ca sa nu selecteze si titlurile din card divs */
div.page-content > h1 {
    margin-top: 0.5em;
}

div.page-content > h2 {
   margin-bottom: 1em;
}

img.card-img {
    width: 100%;
}

div.reviste-cards, div.reviste-cards-search {
    display: inline-block;
    width: 15%;
    max-width: 170px;
    margin: 0.5em;
    box-shadow: 0 4px 8px grey;
    text-align: center;
    vertical-align: top;
}

div.reviste-cards h1,h2 {
    font-size: 1em;
    line-height: 1;
}

div.reviste-cards-search {
    display: inline-block;
    width: 10%;
    max-width: 100px;
    margin: 0.5em;
    box-shadow: 0 4px 8px grey;
    text-align: center;
    vertical-align: top;
}

div.reviste-cards-search h1,h2 {
    font-size: 0.8em;
    line-height: 0.8;
}


/* --- reviste cards - indicatoare continut --- */

/* titlu si subtitlu cards */
div.reviste-cards-detail {
     display: inline-block;
     width: 70%;
 }

div.reviste-cards-preview-icon {
    display: inline-block;
    width: 1em;
    background-color: darkgray;
    border-radius: 50%;
    height: 1em;
}

div.reviste-cards-preview-icon-complet {
    background-color: lawngreen;
}

div.reviste-cards-preview-icon-doar-scan {
    background-color: lightblue;
}

div.reviste-cards-preview-icon-doar-cuprins {
    background-color: gold;
}

div.reviste-cards-preview-icon-no-content {
    background-color: darkgray;
}

/* --- tabele --- */

table, th, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    min-height: 1em;
    margin: 1em;
    padding: 0.2em;
}

tr.empty-row {
    background-color: lightgreen;
}


/* --- dual-divs - cols --- */

div.header-nav-container {
    background-color: steelblue;
    color: aliceblue;
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 2em;
/*    border-bottom: 1px solid black;*/
    padding: 0.5em;
}

div.header-nav-container a {
    color: white;
    font-size: 1.5em;
}

.header-nav-home-link {
    text-decoration-line: none;
}

div.header-nav-elem {
    margin: auto;
}

div.header-nav-current {
    width: 40%;
}

.header-nav-current h1 {
    font-size: 1.5em;
}

div.header-nav-prev, div.header-nav-next {
    width: 25%;
}

p.external-links  {
    font-size: 0.7em;
    text-align: center;
    margin: 0.2em;
}

p.external-links a {
    font-size: 1em;
    text-decoration-line: underline;
    color: wheat;
}


/* --- pagina articole - containere --- */

.column-container {
    display: flex;
    flex-flow: row wrap;

    width: 95%;
    margin: auto;
}

.col {
    flex: 1 100%;
    margin: 1em;
}

.articol-card-container {min-width: 30%; }

.main-img-container {text-align: justify; }

/* medium screen */
@media all and (min-width: 950px) {
    .articol-card-container {flex: 1 0;}
    .main-img-container {flex: 1 0;}
}

/* large screen */
@media all and (min-width: 1400px) {
    .articol-card-container {flex: 2 0;}
    .main-img-container {flex: 3 0;}
}

/* largest screen */
@media all and (min-width: 1921px) {
    .articol-card-container {flex: 1 0;}
    .main-img-container {flex: 2 0;}
}

/* --- cuprins - lista articole --- */

div.articol-card-row {
    min-height: 2.5em;
    margin: 0.3em auto ;
    box-shadow: 0 2px 4px grey;
    background: rgb(240,240,240);

    display: flex;
    /*flex-flow: row wrap;*/

    /* required for clickable-div-span */
    position:relative;
}

/* --- articole - inner divs --- */

/* span care umple div-ul cu clickable link catre prima
pagina din articol; celelalte elemente cu link trebuie
sa aiba position: relative si z-index > 0 */
.clickable-div-span {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;

    z-index: 1;
}

div.articol-card-cell {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

/* --- bucati doar in pagina articole --- */

div.articol-card-pagina {
    width: 5%;
    text-align: center;
}

div.articol-card-rubrica {
    width: 15%;
}

/* --- bucati comune si in pagina articole
si in pagina de search results --- */

div.articol-card-titlu {
    width: 40%;
    font-weight: bold;
    text-align: left;
}

div.articol-card-autor {
    width: 15%;
}

div.articol-card-lista-microthumb {
    width: 25%;
    text-align: left;
}

img.microthumb {
    /*border: 1px solid black;*/
    box-shadow: 0 1px 2px grey;
    margin: 0.1em;
    /* max-width: 50px;
    min-width: 20px;
    height: 100%;*/

    max-height: 40px;
    min-height: 15px;
    vertical-align: middle;
    position: relative;
    z-index: 2;
}

/* --- bucati doar in pagina search results --- */

.search-articol-card-container .articol-card-row {
    text-align: left;
    padding: 0.2em;
}

.articol-card-nume {
    min-width: 7%;
}

.articol-card-an {
    min-width: 5%;
}

.articol-card-luna {
    min-width: 4%;
}

.articol-card-nota {
    min-width: 4%;
}

/* --- image viewer --- */

div.main-img-nav {
    width: 100%;
    margin-bottom: 0.3em;
    padding-bottom: 0.3em;
    border-bottom: solid 2px steelblue;
}

div.main-img img {
    box-shadow: 0 4px 8px grey;
}

/* lista de microthumbs */
.main-img-nav .articol-card-lista-microthumb {
    width: 50%;
    display: inline-block;
}

.main-img-nav .microthumb {
    max-height: 80px;
    min-height: 30px;
    margin: 0.2em;
}

.articol-nav-title-container {
    width: 45%;
    display: inline-block;
    vertical-align: middle;
}

.articol-nav-title-container hr {
    width: 50%;
}

.articol-nav-title-container h2, h3{
    text-align: center;
    padding: 0.1em;
}

.articol-nav-title-container h2 {
    font-size: 1.5em;
    color: steelblue;
    margin: 0.4em auto 0.2em;
}

.articol-nav-title-container h3 {
    font-size: 0.9em;
}

.articol-nav-rubrica {
    text-transform: uppercase;
}

/* thumbnails */
img.minithumb {
    width: 20%;
    max-width: 170px;
    box-shadow: 0 2px 4px grey;
}

.first-page {
    margin-left: 20%;
}

/* full image */

img.fullthumb {
    max-height: 1000px;
    vertical-align: middle;
}

/* --- footer --- */
footer {
    text-align: center;
    color: wheat;

    vertical-align: bottom;
    margin-top: 2em;
    margin-bottom: 0;
    height: 2.5em;
    padding: 0.5em;

    /* --- background --- */
    background-color: steelblue;
    background: repeating-linear-gradient(
            -55deg,
            #333555,
            #333555 5px,
            #444 5px,
            #444 10px
    );

    /* --- shadow --- */
    box-shadow: 0 -3px 3px darkslategrey;
    position: relative;
    z-index:999;
}

.bottom-footer a {
    text-decoration-line: none;
    color: wheat;
}

/* --- dropdowns --- */
/* TODO - make pretty */
/* https://www.w3schools.com/css/css_dropdowns.asp */

.dropdown button {
    /* TODO re-afisare cand il formatezi frumos, cf. w3schools */
    display: none;
}

div.dropdown-content a {
    color: wheat;
    font-size: 1em;
}

/* --- static pages */
.static {
    text-align: left;
    width: 50%;
}

.static h1 {
    text-align: left;
    margin-top: 1em;
}

.static h2 {
    text-align: left;
    margin-top: 1em;
    font-size: 1.5em;
}

.static  h3 {
    text-align: left;
    margin-top: 1em;
    font-size: 1em;
}