
/* --- override defaults --- */
* {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    margin: 0;
    height: 100%;
}

/* --- text --- */
h1, h2 {
    text-align: center;
}

pre {
    background-color: lightgray;
    font-family: monospace;
}

/* --- home navigation --- */

div.home-link-container {
    margin-top: 0;
    margin-bottom: 0;
    height: 3em;
    padding: 0.5em;

    /* --- background --- */
    background-color: steelblue;
    background: repeating-linear-gradient(
            -55deg,
            #333555,
            #333555 5px,
            #444 5px,
            #444 10px
    );

    /* --- shadow --- */
    box-shadow: 0 3px 6px darkslategrey;
    position: relative;
    z-index:999;

    /* -- display -- */
    display: flex;
    /* aliniere orizontala items */
    justify-content:center;
    /* aliniere verticala items */
    align-items: center;
}

.home-link {
    margin-right: auto;
    text-align: left;
    width: 20%;
    /*color: white;*/
}

.home-link-logo {
    font-weight: bold;
    font-size: 2em;
    text-align: left;
}

.home-link-tag {
    font-size: 0.8em;
    font-style: italic;
}

.home-link-container a {
    text-decoration-line: none;
    color: wheat;
    text-align: left;
}

.home-nav-search {
    width: 30%;
}

.home-nav-search-box{
    border-radius: 7px;
    width: 100%;
    padding: 0.3em;
}

.home-nav-preset-search {
    width: 20%;
    margin-left: auto;
    text-align: right;
    color: wheat;
}

/* --- reviste cards --- */


div.card-container, div.search-container, div.page-content {
    width: 85%;
    margin: 0 auto;

    /* centreaza cards din interior */
    text-align: center;
}

img.card-img {
    width: 100%;
}

div.reviste-cards, div.reviste-cards-search {
    display: inline-block;
    width: 15%;
    max-width: 170px;
    margin: 0.5em;
    box-shadow: 0 4px 8px grey;
    text-align: center;
    vertical-align: top;
}

div.reviste-cards h1,h2 {
    font-size: 1em;
    line-height: 1;
}

div.reviste-cards-search {
    display: inline-block;
    width: 10%;
    max-width: 100px;
    margin: 0.5em;
    box-shadow: 0 4px 8px grey;
    text-align: center;
    vertical-align: top;
}

div.reviste-cards-search h1,h2 {
    font-size: 0.8em;
    line-height: 0.8;
}

/* --- reviste cards - indicatoare continut --- */

/* titlu si subtitlu cards */
div.reviste-cards-detail {
     display: inline-block;
     width: 70%;
 }

div.reviste-cards-preview-icon {
    display: inline-block;
    width: 1em;
    background-color: darkgray;
    border-radius: 50%;
    height: 1em;
}

div.reviste-cards-preview-icon-complet {
    background-color: lawngreen;
}

div.reviste-cards-preview-icon-doar-scan {
    background-color: gold;
}

div.reviste-cards-preview-icon-doar-cuprins {
    background-color: lightblue;
}

div.reviste-cards-preview-icon-no-content {
    background-color: darkgray;
}

/* --- tabele --- */

table, th, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    min-height: 1em;
    margin: 1em;
    padding: 0.2em;
}

tr.empty-row {
    background-color: lightgreen;
}


/* --- dual-divs - cols --- */

div.header-nav-container {
    background-color: steelblue;
    color: aliceblue;
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 3em;
/*    border-bottom: 1px solid black;*/
    padding: 0.5em;
}

div.header-nav-container a {
    color: white;
    font-size: 1.5em;
}

div.header-nav-elem {
    margin: auto;
}

div.header-nav-current {
    width: 40%;
}

div.header-nav-prev, div.header-nav-next {
    width: 25%;
}

p.external-links  {
    font-size: 0.7em;
    text-align: center;
    margin: 0.2em;
}

p.external-links a {
    font-size: 1em;
    text-decoration-line: underline;
    color: wheat;
}

/* --- pagina articole - containere --- */

div.column-container {
/*    display: flex;
    flex-wrap: wrap;*/
    width: 95%;
    margin: auto;

}

div.cuprins {
    /*max-width: 40%;*/
    /*overflow-y: scroll;*/
}

div.articol-card-container {
    /*flex-grow: 1;*/
    width: 40%;
}

div.main-img-container {
    width: 55%;
    /*height: 100%;*/
    /*flex-grow: 2;*/
}

div.col {
    display: inline-block;
    vertical-align: top;
    /*max-height: 800px;*/
    margin: 1em;
}

/* --- cuprins - lista articole --- */

div.articol-card-row {
    width: 99%;
    min-height: 2.5em;
    margin: 0.3em;
    box-shadow: 0 2px 4px grey;
    background: rgb(240,240,240);
}

div.articol-card-cell {
    display: inline-block;
    vertical-align: middle;
    width: 5%;
    /*height: 100%;*/
}

div.articol-card-pagina {
    width: 5%;
    text-align: center;
}

div.articol-card-rubrica {
    width: 10%;
}

div.articol-card-titlu {
    min-width: 30%;
    font-weight: bold;
    text-align: left;
}

div.articol-card-autor {
    width: 15%;
}

div.articol-card-lista-microthumb {
    width: 30%;
    min-width: 50px;
    text-align: left;
}

img.microthumb {
    border: 1px solid black;
    /*    max-width: 50px;
        min-width: 20px;*/
    /*  height: 100%;*/
    max-height: 40px;
    min-height: 15px;
    vertical-align: middle;
}


/* --- image viewer --- */



div.main-img-nav {
    /*background: grey;*/
    width: 100%;
    margin-bottom: 0.3em;
    padding-bottom: 0.3em;
    border-bottom: solid 2px steelblue;
}

div.main-img {
    height: 750px;
}

img.fullthumb {
    /*width: 100%;*/
    /*    max-height: 100%;*/
    /*    object-fit: contain;*/
    height: 100%;
    vertical-align: middle;
}

img.minithumb {
    width: 20%;
    max-width: 170px;
}


/* --- footer --- */
footer {
    text-align: center;
    color: wheat;

    vertical-align: bottom;
    margin-top: 2em;
    margin-bottom: 0;
    height: 2.5em;
    padding: 0.5em;

    /* --- background --- */
    background-color: steelblue;
    background: repeating-linear-gradient(
            -55deg,
            #333555,
            #333555 5px,
            #444 5px,
            #444 10px
    );

    /* --- shadow --- */
    box-shadow: 0 -3px 3px darkslategrey;
    position: relative;
    z-index:999;
}

.bottom-footer a {
    text-decoration-line: none;
    color: wheat;
}